{{ '#' }} {{ ansible_managed }} - roles/master1_config/templates/config_master1.yaml.j2
{{ '#' }}
{{ '#' }} QUESTO FILE CONTIENE SOLO tls-san, ED E' VOLUTO.
{{ '#' }}
{{ '#' }} Niente "cni:", niente "ingress-controller:", niente "disable:",
{{ '#' }} niente "resolv-conf:". Ogni riga in piu' qui dentro e' una scelta
{{ '#' }} tolta a RKE2, e le tre che c'erano prima sono le tre che hanno rotto
{{ '#' }} l'installazione: calico al posto di canal, un ingress-controller che
{{ '#' }} su questa versione non esiste, e ingress-nginx disabilitato in favore
{{ '#' }} di un Traefik che andava scaricato da Internet.
{{ '#' }}
{{ '#' }} tls-san serve perche' il certificato dell'API server deve valere
{{ '#' }} anche per il nome con cui si apre la console, non solo per l'IP.
tls-san:
  - {{ rancher_domain }}
{%- for host in groups['masters'] %}
  - {{ hostvars[host].ansible_host }}
{%- endfor %}
