#!/bin/bash
# {{ ansible_managed }} - roles/keepalived_install
#
# keepalived invoca questo script a ogni transizione passando tre argomenti:
#   $1 tipo (INSTANCE o GROUP)  $2 nome istanza  $3 nuovo stato
# Lo stato viene salvato su file, da dove nginx-ha-check lo rilegge.
# Si scrive in /run: /var/run e' solo un link simbolico a /run.

TYPE="$1"
NAME="$2"
STATE="$3"

echo "$STATE" > "/run/keepalive.${TYPE}.${NAME}.state"
