#!/bin/bash
{{ '#' }} {{ ansible_managed }} - roles/keepalived_install
{{ '#' }}
{{ '#' }} Health check invocato da keepalived ogni {{ keepalived_nginx_check_interval }} secondi.
{{ '#' }} Uscita 0 -> nginx attivo, keepalived somma {{ keepalived_nginx_check_weight }} alla priorita'.
{{ '#' }} Uscita != 0 -> il peso non viene applicato.
{{ '#' }}
{{ '#' }} Lo start/stop del servizio NON sta qui ma in nginx-ha-notify: uno
{{ '#' }} script tracciato deve limitarsi a riportare uno stato.
systemctl is-active --quiet nginx
